/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 mar 2023, 21:22:41
    Author     : 2003a
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');


/*Globales*/
html {
    font-family: 'Poppins', sans-serif;
    font-size: 10px;
    color: #000;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    overflow-x: hidden;
}

section {
    padding: 3.9rem 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;

}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
    text-align: left;

}

.contenedor{

    
    width: 100%;
    max-width: 122.5rem;
    margin:  0 auto;
    padding: 0 2.5rem;
 
 
}
.contenedor1{

    
    width: auto;
    max-width: 150.5rem;
    margin: 0 auto;
    padding: 0 8.5rem;
 
 
}

.contenedor2{

    
    width: auto;
    max-width: 150.5rem;
    margin: 0 auto;
    padding: 0 2.5rem;
 
 
}


/*Header*/
header {
    width: 100%;
    position: absolute;
    background-color: rgba(0,0,0,.8);
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
}

.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle {
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1.5rem;
    cursor:pointer;
    z-index: 1500;
}
.menu-toggle:hover{
    color: lightpink;
}

.fa-times {
    display:none;
}
/**cuadro del menu**/
.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 45%;
    height: 100vh;
    background-color:rgba(0, 0, 0, .9);
    padding: 4.4rem;
    display: flex;
    flex-direction:column;
    justify-content:space-around;
    z-index: 1250;
    transform: translateX(-100%);
   
}
/**recuadro gris de la par del menu el fondo**/
.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;

}

.open .fa-times {
    display: block;
}

/*Simbolo menu de movil*/
.open .fa-bars {
    display:none;
}

/*Recuadro del menu pequeño*/
.open .nav-list {
    transform: translateX(0);
}

.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.logo {
    color:lightpink;
    font-size: 3rem;
    font-weight: 600;
}
.logo:hover{
    color:#fff;
}
/**linea de las opciones del menu**/
.nav-item {
    border-bottom:2px solid rgba(255, 255, 255, .3);
}

.nav-link {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
}

.nav-link:hover {
    color:lightpink;
}

/*Hero*/

/**foto del principio del encabezado**/
.hero {
    width: 100%;
    height: 60vh;
    background-image: url("https://media.giphy.com/media/5z0Clc1s7uQfxuC1eG/giphy.gif"); 
    background-position: center 25%; 
    background-size:auto; 
    display:flex;
    align-items: center;
    text-align: center;
    
}
.heroo {
    width: 100%;
    height: 60vh;
    background-image: url("../img/colores3.gif"); 
    background-position: center 25%; 
    background-size:cover; 
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;

}
.bols{
    width: 100%;
    height: 60vh;
    background-color: black;
    background-position: center 25%; 
    background-size:cover; 
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}
.joye{
    width: 100%;
    height: 60vh;
    background-color:grey;
    background-position: center 25%; 
    background-size:cover; 
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
}

/**titulos en rosado**/ 
.h2-sub {
    font-size: 3rem;
    left: 50%;
    font-family: 'Poppins', sans-serif;
    color:lightpink;
    font-weight: 600;
    line-height: .4;
    
}



.fil {
    text-transform: uppercase;
    font-size: 3rem;
   
}

.head {
    color: #fff;
    font-size: 3.7rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: .5rem;
   
}
/*circulo que sale debajo de los subtitulos*/
.circle {
    font-size: 1.5rem;
    color:aqua;
    margin: 0 1.6rem;
}
/*titulos h5*/
.he-des h5 {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
    padding: 10px;
}
/*boton*/
.btn {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}
/**botones**/
.cta-btn {
    font-size: 1.1rem;
    background-color:#000;
    padding: 1.0rem 2rem;
    color: #fff;
    border-radius: .5rem;
}
.cta-btn:hover,
.cta-btn:focus {
    color: #fff;
    background-color:lightpink;
}
/*-----*/

/**distancia global por cada section de contenido**/
.global {
    text-align: center;
    margin-top: 2.5rem;
   
}
/**distancia del primer encabezado**/
.dis-sto .global {
    margin-top: 2.5em;
}
/**circulo de color y distancia**/
.global .circle {
    color:aqua;
    margin: 2.4rem 0;
}

.hea-dark {
    color: #252525;
    letter-spacing: .7rem;
    margin-right: -.7rem;
    
}
/**titulos en blanco o distancia entre ellos dos**/
.global .h2-sub {
    letter-spacing: 4px;
    line-height: .45;
    padding:5px;
}
/**posicion de los botones**/
.res-info {
    text-align: center;

}
/**imagen debajo del encabezado**/

.imagen-encab{
    padding: 20px;
    box-shadow:0 4px 8px 0 black, 0 6px 20px 0 rgba(0,0,0,0.19); 
    width: auto;
    
    
}
.gif-1{
    border-radius: 15px;
}
/*----------*/

/**Espacio del primer contenido del body**/
.res-des {
    margin-bottom: 5rem ;  
    padding: 52px;
}
/**textos**/
.res-des p {
    text-align: center;
    line-height: 2.5vw 2.5vh;
    margin-bottom: 5rem ;

}


/*imagen de la seccion de bags*/
.taste {

    background: url('https://th.bing.com/th/id/R.82bbedbcaa151801e6defd48cdbb096f?rik=ghDjFm0bkiBkoA&pid=ImgRaw&r=0') center no-repeat ;
    background-size:cover;
    background-attachment: fixed;
 
 
}
.bt {

    min-height: 65vh;
    display:flex;
    align-items: center;
}
/*--------*/


/*seccion de la joyeria en la parte del index */
.sectJ{
    background-image: url('  https://mwstudio.uk/wp-content/uploads/2019/02/Paul-Sheeran-Jewelley-Photography_5.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
}

/*efecto oscuro de la imagen*/
.sectJ:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: -1;
}
.slider-frame {
	width: auto;
        height: auto;
	margin:50px auto 0;
	overflow: hidden;
        box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 rgba(0,0,0,0.11); 
}
.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/*------*/


/*ropa*/
/*imagenes en grupo */
.image-group {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem 1.0rem;
    padding: 25px;

}
/*imagenes del index de bolsos*/
.b1{
    border-radius: 20px;
}
.image-group1 {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem 2.0rem;
    padding: 45px;

}

.disco .res-des {
    padding-top: 3rem;
    margin-bottom: 0;
}

/*seccion de joyeria imagen*/
.pb {
    background: url("../img/colores.gif") center no-repeat;
    background-size: cover;
}
/*--------*/

/*footer (pie de la pagina)*/
footer {
    padding: 7.9rem 0;
    background-color: #121212;
    color: #fff;
    text-align: center;
    position: relative;
}

.footer-content {
    overflow: hidden;
    
}
.pie{
    padding: 1.9rem 0;
}


.footer-content h4 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content .circle{
    margin: 2.4rem 0;
}

.footer-content-about {
    margin-bottom: 5.4rem;
}

.footer-content-about p {
    line-height: 2;
}

.social-icons {
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 2rem;
    color:#fff;
    padding: .8rem 2rem;
    
}

.social-icons i:hover,
.social-icons i:focus {
    color:lightpink;
}

.news-form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;

}

.news-input {
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}
.news-btn {
    background: transparent;
    border: none;
    color: #252525;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 30%;
    margin-left: 20.5rem;
}
/**boton de whatsapp*/
.btnWhat{
    padding: 10px;
    border-radius: 20px;
    font-size: 2.5rem;
}
.codbarras{
     width: 150px;
}

/*--------*/

/*imagenes de productos*/

.galeria{
    
    margin: 45px 40px;
    float:left;
    width: 250px;
    padding: 30px 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .8), 0 6px 20px 0 rgba(0,0,0,0.10);
   
    
   
   
    
}

.galeria:hover{
    border-radius: 15px;
    transform: scale(0.95);
    transition: .8s ;
    
}
.pie-imagen{
    display: flex;
    justify-content: space-between;
    padding:15px 10px;
    font-family:'Poppins' ;
    font-size: 1.1rem;
}

/*-------*/

/*carrusel*/
.arrivals{
    font-size: 3.5rem;
    left:50%;
    font-family: 'Poppins', sans-serif;
    color:lightpink;
    letter-spacing: .2rem;
    font-weight: 600;
    text-align: center;
    padding:60px 0;
}


.drop{
    text-transform: uppercase;
    font-size: 4rem;
}

.tit{
    color:#252525;
    letter-spacing: .6rem;
    margin-right: -.7rem;
    font-size: 25px;   
    text-align:left;
    padding: 10px 0;
}

.carrusel{
    display:flex;
    width: auto;
    height: 750px;

     
}
.carrusel img{
    box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 rgba(0,0,0,0.19); /*borde y reflejo en forma de caja*/
    width: 0;
    flex-grow:1;            /*que cubra todo el espacio que pueda*/
    object-fit:cover;          /*fotos abarquen todo el espacio*/
    opacity: .8;     /*opacidad*/
    transition: 2s ease;    /*transicion de animacion*/
    
}
.carrusel img:hover{
   width: 300px;
   opacity: 1;
   filter:contrast(120%);/*contraste de la imagen*/
}
/*------*/

/*los recuadros del inicio de ropa*/

/*caja de la imagen en la seccion de clothes del index*/
.caj1{
    position:relative;
    list-style: none;
    gap:30px;
    width: auto;
    transition: .8s ease;

}

.caj1:before{
    content: "";
    display:block;
    padding-bottom: 150%;
    width: 100%;

}
/*--------*/
/*animacion para los recuadros de la imagen*/
.caj{
    position:absolute;
    bottom:0;
    right: 0;
    left: 0;
    top: 0;
    border-radius: 20px;
    background-size: 350px;
    background-position:center;
    filter:brightness(.9) saturate(1) contrast(1);
    transform-origin: bottom;
    transform:scale(1) translateZ(0);
    background-size: 260px;
  

}
.caj1:hover .image-group1{
    transform: scale(1.15) translateZ(0);
    background-size: 260px;

}
.image-group1:hover .caj1:not(:hover){
    transform: scale(.9);

}
/* efecto en las imaginese que se oscurece (degradado)*/
.image-group1:hover  .caj1:not(:hover) .caj,
.image-group1:hover  .caj1:not(:hover) .card-category{
    filter: brightness(.5) saturate(0) contrast(1.2) blur(20px);
}
/*-----*/




/*contenido de cada imagen */
.conte{
    top:50%;
    left:0;
    padding:25px;
    position:absolute;
 


}
.card-category{
    color:#fff;
    font-size:12px;
    font-weight: 500;
    letter-spacing: 5px;
    margin-bottom: 8px;
    text-transform: uppercase;
    

}
.card-heading{
    color:#fff;
    font-size:25px;
    line-height: 1;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, .2);
}
/*-----------*/
 /*estilo de los blogs*/
   .blog-titulo{
       color: black;
       font-size: 2.0rem;
       font-family: 'Poppins', sans-serif;
       text-transform: uppercase;
       font-weight: 800;
       letter-spacing: .5rem;
       padding: 20px 0px;
       
   }
   tmBlog{
        color: #252525;
        letter-spacing: .7rem;
        margin-right: -.7rem;
   }
   .video1{
     width: 80%;
     height: 65vh;
     padding: 10px;
     box-shadow: 0 4px 8px 0 black, 0 6px 20px 0 rgba(0,0,0,0.19);
     
           
   }
   .texto-blog{
       padding: 10px 0;
       margin: auto;
   }
   .caja-video{
       padding:25px;
       display:grid;
       place-items: center;
 
   
   }
   .sec-blog {

   
    background-size:cover;
    background-attachment: fixed;
 
 
}
.taste-2{
    background: url("/img/negra.jpg");
     background-size:cover;
    background-attachment: fixed;
}

/*Carrusel de fotos que va de lado*/

.desliz-fotos{
    display: flex;
    height: auto;
    margin:auto;
    overflow:hidden;
    align-items:center;
    
        
}
.desliz-fotos:before{
    position:absolute;
    z-index: 1;
    left:0;
    content:"";
    width: 0%;
    height: 110px;
    background: linear-gradient(-90deg, 
        hsla(0, 0%, 96.9%, 0),#f7f7f7);
}
.desliz-fotos:after{
    position:absolute;
    right:0;
    content:"";
    width: 23.958%;
    height: 110px;
    background: linear-gradient(90deg, 
        hsla(0, 0%, 96.9%, 0) 
        hsla(0, 0%, 96,9%, 0) 99%);
}
.desliz-fotos .desliz-lado{
    display:flex;
    animation: scroll 35s linear infinite;
    -webkit-animation: scroll 35s linear infinite;
    width: calc(240px * 5);
    
}
.desliz-fotos .desliz{
    display: flex;
    
}
.desliz-fotos .desliz img{
    width: auto;
    height: auto;
    padding: 10px;
    background-color: white;
    cursor:pointer;
    margin: 5px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  
}
/*--------*/

/*estilo del html informacion*/


.texto-info{
    padding: 10px 0;
    margin:auto;
    color:black;
}
hr{
 
    border-color: black;
}
@keyframes scroll{
    0%{
        -webkit-transform: translateX(calc(240px * 5));
        transform: translateX(calc(240px * 5));
        
        
    }
    100%{
         -webkit-transform: translateX(calc(-240px * 5));
        transform: translateX(calc(-240px * 5));
    }
}

/*Codigo para la visualizacion movil*/

@media screen and (min-width: 1000px) {
  
    section {
        padding: 7.9rem;
    }

    .menu-toggle {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }

    .nav-list {
        position:initial;
        width: initial;
        height: initial;
        background-color:transparent;
        padding: 0;
        justify-content:initial;
        flex-direction:row;
        transform: initial;
        transition: initial;
    }

    .nav-item {
        margin: 0 2.4rem;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .nav-link {
        font-size: 1.3rem;
    }

    .active {
        position: relative;
    }
    .active::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }
    .h2-sub {
        font-size: 3rem;
    }

    .fil {
        font-size: 3rem;
    }
    .head {
        font-size: 4.7rem;
        letter-spacing: .8rem;
    }

    .res-info {
        display: flex;
        align-items: center;
      
    }

    .res-info > div {
        flex: 1;
    }

    .pad-rig {
        padding-right: 7rem;
    }
   

    .footer-content {
        max-width: 77.5rem;
        margin: auto;
    }

    .footer-content-about {
        max-width: 51.3rem;
        margin:  0 auto 5.4rem;
    }

    .footer-div{
        display: flex;
        justify-content: space-between;
    }

    .social-media,
    .news-form {
        width: 100%;
        max-width: 27.3rem;
        margin: 0 1rem;
    }

   .news-btn {
       margin-left: 7.5rem;
   }
  

   
}