<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>FINNK</title>
        <link rel="icon" href="img/logo finnk.jpg">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/css/estilos.css">
        <meta charset="UTF-8">
        
    </head>
    <body>
        <header>
            <div class="contenedor">
                <nav class="nav">
                    <div class="menu-toggle">
                        <i class="fas fa-bars"></i>
                        <i class="fas fa-times"></i>
                    </div>
                    <a th:href="@{/}" class="logo">FINNK</a>
                    <ul class="nav-list">
                        <li class="nav-item">                     
                            <a th:href="@{/}" class="nav-link  ">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/finnk/Ropa}" class="nav-link ">Ropa</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/finnk/Bolsos}" class="nav-link ">Bolsos</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/finnk/joyeria}" class="nav-link ">Joyeria</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/finnk/New arrivals}" class="nav-link ">Novedades</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/finnk/informacion}" class="nav-link active ">Informacion</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/finnk/blogs}" class="nav-link ">Blogs</a>
                        </li>               

                    </ul>
                </nav>
            </div>
        </header>
       
           <section class="taste-2 bt">
            <div class="contenedor">
            </div>
        </section>
        
      
            <div class="contenedor">
                <div class="global">                                            
                    <h3 class="blog-titulo tmBlog">NUESTRA HISTORIA</h3>   
                    <hr>
                </div>
                
                <div class="res-info">
                    <p class="texto-info">
                                         FINNK
                        “FELICIDAD Y MODA EN UN SOLO LUGAR“
                        SOMOS UNA MARCA COMERCIAL DE CAPITAL 100% COSTARRICENSE, 
                        LIDERADA POR UN GRUPO DE ESTUDIANTES.
                        FINNK NACIÓ EN EL AÑO 2023, COMO UN SUEÑO Y HOY BUSCA INSPIRAR 
                        Y COMPARTIR FELICIDAD A TRAVÉS DE LA MODA, Y BAJO LA FILOSOFÍA 
                        DE CREATIVIDAD Y ESTILO A PRECIOS ACCESIBLES.
                        
                        EN NUESTRAS TIENDAS ENCUENTRAS ESTILOS NUEVOS TODAS LAS SEMANAS. 
                        TRABAJAMOS CON UN STOCK LIMITADO DE PIEZAS, CON EL FIN DE MANTENER
                        LA EXCLUSIVIDAD DE TODAS NUESTRAS PRENDAS, CALZADO Y ACCESORIOS.
                        
                        MUCHOS DE NUESTROS PRODUCTOS SON IMPORTADOS DE U.S.A 
                        Y ACTUALMENTE NUESTRA EMPRESA INCURSIONA EN EL DISEÑO LOCAL (MARCA PROPIA). 
                        DISEÑAMOS PRENDAS LINDAS, FRESCAS, CON ALTOS ESTÁNDARES, Y LO MÁS IMPORTANTE, 
                        CADA UNA ES CREADA Y ELABORADA EN COSTA RICA.

                        NOS ENCUENTRAS EN MALL SAN PEDRO Y MULTIPLAZA ESCAZÚ

                    </p>

                </div>

            </div>
        <footer class="pie">
        <div class="footer-cont">
             Tienda FINNK&COPY;
        </div>
        
</footer>
    </body>
    
</html>
